@import url(./vendor/normalize.css);
@import url(./vendor/fonts/poppins.css);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #C9B7A7;;
  --bg-color: #F4F1EC;
  --text-color: #77746F;
  /*--font-family: 'SF Pro Display';*/
  --font-size-large: 36px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
}
